 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  margin: 0;
  font-family: Roboto ,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;

  background-color: #e8eded;
}

header{
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #606d7b;
  color: #e8eded;
  margin: 1rem;
  border-radius: .5rem;
}

header > h1{
    font-size: 3em;
    margin: 0;
}

main{
  height: 85%;
  display: flex;
}

main > .sidebar{
  width: 13vw;
  background-color: #ddd4d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border-radius: .5rem;
}

.sidebar > .newFolder {
  background-color: #333;
  border: none;
  color: snow;
  padding: 0.5rem 1rem;
  transition: 0.3s;
}
.sidebar > .newFolder:hover{
  background-color: #444;
  cursor: pointer;
}

.sidebar > .OpenDestroyFolderModal {
  background-color: #ff6961;
  border: none;
  color: snow;
  padding: 0.5rem 1rem;
  transition: 0.3s;
  margin: 1rem 0 1rem 0;
}
.sidebar > .OpenDestroyFolderModal:hover{
  background-color: #ce604c;
  cursor: pointer;
} 



.folders {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0 0;
  padding: 0 0 2rem 0 ;
  gap: 1rem;
  height: auto;
  width: 100%;
  overflow: auto;
}

.folders > li > button{
  background-color: #606d7b;
  color: #e8eded;
  border: none;
  width: 7vw;
  height: auto ;
  font-size: 1rem;
  letter-spacing: .1rem;
  padding: .5rem 1rem;
  transition: .3s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: .3rem;

}

.sidebar > ul > li > button:hover{
  cursor: pointer;
  background-color: #817465;
  letter-spacing: 0.3rem;

}

#selected{
  background-color: #ffbd44;
}


.AllTasks > .tasks {
  flex: 1;
  max-width: fit-content;
  overflow: scroll;
}

.tasks > li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #333;
  color: #f1f1f1;
  margin: 1rem;
  border-radius: .5rem;
  width: 80vw;
}
.tasks > li > *{
  padding: 1rem;
}



.priorityButton{
  cursor: pointer;
  background-color: #00ca4e;
  border: none;
  padding: 0.5rem 1rem;
  transition: 0.3s;
  margin: 0;
  border-radius: .5rem 0 0 .5rem;
  width: 3rem;
}

.priorityButton.inProgress{
  background-color: #ffbd44;
}

.priorityButton.todo{
  background-color: #FF605C;  
}

.tasks > li > .taskName {
  width: 10%;
  display: flex;
  justify-content: center;
  
  
}

.taskName > h2{
  margin: 0;
}

.taskDescription{
  width: 90%;
  max-height: 15%;
}

.mainsection{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}
.AllTasks{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
  padding: 2rem 0 2rem 0;
  gap: 3rem;
}





footer{
  height: 5%;
  background-color: #606d7b;
  color: #e8eded;
  display: flex;
  justify-content: center;
  align-items: center ;
  width: 80vw;
    margin: 1rem;
    border-radius: .5rem;

}




/* Modals */



.folderModal{
  border-radius: 0.25rem;
  border: 1px solid #333;
  transition: 0.3s;
  
  
}
.folderModal::backdrop{
  backdrop-filter: blur(2px);
  
}

.folderModal > .closeNewFolderModal {
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: .25rem;
  background-color: #ff6961;
  transition: 0.2s;
  margin-left: 89%;
}
.folderModal > .closeNewFolderModal:hover {
  background-color: #ce604c;
  cursor: pointer;
  justify-self: flex-end;
}

.folderModal > form{
  padding: 0 2rem 2rem 2rem;
}
.folderModal > .createNewFolderModal {
  background-color: #c5dfc2;
  transition: 0.3s;
  border: none;
  border-radius: 0.1rem;
  padding: 0.3rem;
  margin-left: 35%;
}
.folderModal > .createNewFolderModal:hover {
  background-color: #81927f;
  cursor: pointer;
}

/* Delete folder modal  */

.chooseButtons{
  display: flex;
  justify-content: space-between;
}

.closeDestroyFolderModal{
  background-color: #c5dfc2;
  transition: .3s;
  border: none;
  padding: .5rem;
}
.closeDestroyFolderModal:hover{
  background-color: #81927f;
  cursor: pointer;
}

.DestroyFolder{
  background-color: #ff6961;
  transition: .3s;
  border: none;
  padding: .5rem;
}
.DestroyFolder:hover{
  background-color: #ce604c;
  cursor: pointer;
}